[submodule "net.indigames.quest-system"]
	path = Packages/net.indigames.quest-system
	url = https://github.com/indigames/net.indigames.quest-system.git
[submodule "net.indigames.tools"]
	path = Packages/net.indigames.tools
	url = https://github.com/indigames/net.indigames.tools.git
