#tabs {
    background-color: rgb(229, 223, 223);
}

.tab {
    flex-grow: 1;
}

.currentlySelectedTab {
    background-color: rgb(173, 166, 166);
}

#tabContent {
}
.unselectedContent {
    display: none;
}